{% extends 'app/base.html' %}
{% load static %}
{% block title %}<title>MT5 Help</title>{%endblock%}
{% block style %}
  <style>
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #959494; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161; 
}
    
    .card{
      background: rgba(255, 255, 255, 0.22);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 1px;
    }
    /* .card:hover {
      background-color: rgb(240, 239, 239);
      transition: background-color 0.7s;
      position: relative;
      top: -20px;
    } */
    #MT{
            max-width: 15%;
        }
    
    
  </style>
  {% endblock %}

  {% block content %}
   
    <div class="p-5 justify-content-center text-center align-items-center">
      <h3 class="display-2 d-inline font-monospace" style="color: #cd5008;"><img class="img-fluid" style="max-height: 70px; max-width: 13%;" src="{% static 'app/img/Meta.png' %}" id="logoo"></h3>&ensp;
      <h3 class=" d-inline display-4 font-monospace" style="color: black;">MetaTrader5</h3>
    </div>

    <br>
    <div>
      <p class="fw-bold fst-italic font-monospace text-center">MetaTrader 5 is a free application for traders allowing to perform technical analysis and trading operations in the Forex and exchange markets.</p>
    </div>

<br><br><br>

<div class="container">
  <h3 class="text-center" style="color: #cd5008; font-weight: bold;">How It Works</h3><br>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="bi bi-gear" style="font-size: 2.5rem; color: #cd5008;"></i>
          <h5 class="card-title mt-3" style="font-weight: bold;">Step 1</h5>
          <p class="card-text">Create a webhook in your dashboard.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="bi bi-credit-card" style="font-size: 2.5rem; color: #cd5008;"></i>
          <h5 class="card-title mt-3" style="font-weight: bold;">Step 2</h5>
          <p class="card-text">Activate your hook on our payment processor.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="bi bi-link" style="font-size: 2.5rem; color: #cd5008;"></i>
          <h5 class="card-title mt-3" style="font-weight: bold;">Step 3</h5>
          <p class="card-text">Attach the Webhook to your TradingView alerts along with the desired message.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="bi bi-download" style="font-size: 2.5rem; color: #cd5008;"></i>
          <h5 class="card-title mt-3" style="font-weight: bold;">Step 4</h5>
          <a href="{% url 'get_ea' %}" style="text-decoration: underline; color: #cd5008;"><p class="card-text">Download our expert advisor and attach it to your terminal</p></a>
        </div>
      </div>
    </div>
  </div></div><div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mx-auto mt-4">
    <div class="col mx-auto">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="bi bi-send" style="font-size: 2.5rem; color: #cd5008;"></i>
          <h5 class="card-title mt-3" style="font-weight: bold;">Step 5</h5>
          <p class="card-text">Send alerts to the mt5 terminal and execute trades.</p>
        </div>
      </div>
    </div>
    <div class="col mx-auto">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="bi bi-arrow-repeat" style="font-size: 2.5rem; color: #cd5008;"></i>
          <h5 class="card-title mt-3" style="font-weight: bold;">Step 6</h5>
          <p class="card-text">Switch between different channels and groups anytime.</p>
        </div>
      </div>
    </div>
  </div>
</div>



  <br>
  <div class="container text-center">
    <br><br><br><br>

    <p style="font-size: 1.25rem; padding: 10px; border: 2px solid #cd5008; border-radius: 5px;">“
      <strong style="color: #cd5008;">BUY EURUSD</strong>
      <strong tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Price at which you want to enter your trade." style="color: #cd5008;">e=</strong> 1.000
      <strong tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Target price for profit." style="color: #cd5008;">tp=</strong> 1.001
      <strong tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Price at which you want to limit losses." style="color: #cd5008;">sl=</strong> 1.0009 
      <strong tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Amount of the asset to trade in lots or percentage." style="color: #cd5008;">q=</strong> 0.1  
      <strong tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Unique identifier for the trade. Can be any number as long as you rememebr it" style="color: #cd5008;">m=</strong> 77 
      <strong tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="Link to the image to send to Discord with the message." style="color: #cd5008;">link</strong>=https://www.tradingview.com/x/HFUdhKD5/
      ”</p><br>



    
    </div>
    
    <div class="container mt-5">
      <h2 class="text-center" style="color: #cd5008;">Trading Parameters</h2>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 style="color: #cd5008;">Mandatory</h4>
          <ul>
            <li><strong>Action:</strong> Instructions to be carried out when an alert is triggered. Example: buy, sell, close, or modify a trade.</li>
            <li><strong>Symbol:</strong> The name of the symbol to apply the action to. For example; EURUSD.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 style="color: #cd5008;">Optional</h4>
          <ul>
            <li><strong>Quantity (Q):</strong> The size of the order in lot size or percentage. Example: Q=0.1 or Q=10%.</li>
            <li><strong>Price (P):</strong> The entry price of your order, converting your trade to a stop or limit order. Example; P=2%, P=1.1234</li>
            <li><strong>TakeProfit (TP):</strong> Add the take profit of a trade, specified in points, price, or percentage from the entry price.</li>
            <li><strong>StopLoss (SL):</strong> Add the stop loss of a trade, specified in points, price, or percentage from the entry price.</li>
            <li><strong>Trailing Trigger (TT):</strong> The point at which your trailing stop loss for open trades will trigger, specified as points or as a percentage.</li>
            <li><strong>Trailing Distance (TD):</strong> The distance between your stop loss and the current market price, specified in points or as a percentage.</li>
            <li><strong>Trailing Step (TS):</strong> The number of points/percentage movement in the market after which your SL should be adjusted.</li>
            <li><strong>Magic (M):</strong> The trade magic number to use, to identify different strategies. Example M=1234.</li>
          </ul>
        </div>
      </div>
    </div>
    
    <br><br><br>
    <br></div>
  <br>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  });
</script>
<br><br><br>
{% endblock %}